/* Fullscreen preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111; /* You can change color */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: transform 1s ease-in-out;
}

/* Loader text */
.slide-loader {
  color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  letter-spacing: 3px;
  animation: fade 1.6s infinite alternate;
}

@keyframes fade {
  from { opacity: 0.3; }
  to   { opacity: 1;   }
}
